body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#color-palette{
    width: auto;
    height:auto;
    text-align: center;
}

.color {
    display: inline-block;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

#corPreta {
    background-color: black;
}

#cor1 {
    background-color: cyan;
}

#cor2 {
    background-color: magenta;
}

#cor3 {
    background-color: yellow;
}

#pixel-board {
    width: auto;
    height: auto; 
    display: inline-block;
    padding: 10px;
    
}

.pixel {
  width: 40px;
  height: 40px;
  background-color: white;
  display: inline-block;
  border: 1px solid black;
  margin-bottom: 0px;
  margin-top: -6px;
  padding: 0px;
}

