body {
  font-family: Roboto; sans-serif;
  text-align: center;
  background-image: url(imagens/gradienta-rKv4HduvzIE-unsplash.jpg);
  background-position: center;
  background-size: cover;
  margin-left: 5%; 
}

h1 {
    font-family: Monoton, sans-serif;
    font-size: 50px;
    color: rgb(96, 17, 170);
    
}

#color-palette{
    width: auto;
    height:auto;
    text-align: center;
    padding: 10px;
}

.color {
    display: inline-block;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

#corPreta {
    background-color: black;
}

#cor1 {
    background-color: cyan;
}

#cor2 {
    background-color: magenta;
}

#cor3 {
    background-color: yellow;
}

.buttons-container {
    width: 100%;
    height: 50px; 
    display: inline-block;
    padding: 10px;
    text-align: center;
}

#pixel-board {
    width: auto;
    height: auto; 
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 40px;
}

.pixel {
  width: 40px;
  height: 40px;
  background-color: white;
  display: inline-block;
  border: 1px solid black;
  margin-bottom: 0px;
  margin-top: -6px;
  padding: 0px;
}



